<div class="container login-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-offset-0">
            <div class="form-wrapper" cg-busy="{promise: forgotBusy}">
                <h3 class="text-center mb-20 mt10">Forgot Password?</h3>
                <p>Enter your E-Mail address and we will send you a password.</p>

                <form role="form" novalidate="novalidate" name="forgotForm" ng-submit="forgotPassword(forgotForm)">
                    <div class="form-group mb-15"
                         ng-class='{"has-error": forgotForm.email.$invalid && (forgotForm.email.$touched || forgotForm.$submitted),"has-success": forgotForm.email.$valid && forgotForm.$submitted}'>
                        <input autocomplete="off" type="email" class="form-control input-lg" name="email" id="email"
                               placeholder="Email" ng-model="user.email" required>
                        <span class="help-block" ng-messages="forgotForm.email.$error"
                              ng-if="(forgotForm.email.$touched || forgotForm.$submitted) && forgotForm.email.$invalid">
                                <span class="text-danger" ng-message="email">Please enter valid email address</span>
                                <span class="text-danger" ng-message="required">Email is required</span>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg mt-20" ng-disabled="forgotForm.$invalid">Send Me Password</button>

                    <div class="devider"></div>
                    <p class="mbn">Don't have a DreamFu account? <a ui-sref="register">Click here</a> to create one</p>

                    <p class="mbn">Already have a DreamFu account? <a ui-sref="login">Click here</a> to login</p>

                </form>
            </div>
        </div>
    </div>
</div>